<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

	<head>

    	<!-- Basic Page Needs
   		================================================== -->
    	<meta charset="utf-8">
    	<meta name="description" content="">
	    <meta name="author" content="">

    	<!-- Mobile Specific Metas
	   ================================================== -->
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	    <!-- CSS
   		================================================== -->
	    <link rel="stylesheet" href="base.css" th:href="@{css/base.css}">
    	<link rel="stylesheet" href="skeleton.css" th:href="@{/css/skeleton.css}">
    	<link rel="stylesheet" href="layout.css" th:href="@{/css/layout.css}">

	    <!-->
    	<script th:if="${&lt; IE 9}" th:src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<-->

    	<!-- Favicons
     	================================================== -->
    	<link rel="shortcut icon" href="favicon.ico" th:href="@{/images/favicon.ico}"/>
	    <link rel="apple-touch-icon" href="apple-touch-icon.png" th:href="@{/images/apple-touch-icon.png}"/>
    	<link rel="apple-touch-icon" sizes="72x72"
    	  	  href="apple-touch-icon-72x72.png" th:href="@{/images/apple-touch-icon-72x72.png}"/>
    	<link rel="apple-touch-icon" sizes="114x114"
    		  href="apple-touch-icon-114x114.png" th:href="@{/images/apple-touch-icon-114x114.png}"/>
	</head>
</html>