<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<head>
		<title th:text="#{home.title}"> hello world </title>
	</head>

	<body>

		<div class="container">
    		<div class="one-third column">
        		<h3>Actions</h3>
        		<p><a href="user.html" th:href="@{/newuser}"> New User </a></p>
    		</div>

	    	<div class="two-thirds column">
    	  	   <p th:text="#{home.welcome}">Hello world!</p>

        		<table>
            		<thead>
            			<tr>
            				<td th:text="#{user.id}">ID</td>
            				<td th:text="#{user.name}">Name</td>
            			</tr>
            		</thead>
            		<tbody>
                		<tr th:each="user : ${users}">
                			<td>
                				<a th:text="${user.id}" href="user.html" th:href="@{'/user/view/'+${user.id}}">13</a>
                			</td>
	                		<td th:text="${user.username}"> Matthew </td>
                		</tr>
					</tbody>
        		</table>
    		</div>
		</div>
	</body>
</html>