<!DOCTYPE html>

<html ng-app="helloWorld"  xmlns="http://www.w3.org/1999/xhtml">
      
	<head>
		<title>Hello World!</title>	
	</head>

	<body>

		<div class="container" ng-controller="UserController">
			<div ng-hide="showUserEdition()">
    			<div class="one-third column">
        			<h3>Actions</h3>
        			<p><button id="new-user-button" type="button" ng-click="addUser()">New User</button></p>
    			</div>

	    		<div class="two-thirds column" >
    	  	   		<h3>Hello world!</h3>

        			<table>
            			<thead>
            				<tr>
	            				<td>ID</td>
    	        				<td>Name</td>
        	    			</tr>
            			</thead>
            			<tbody> 
						  <tr ng-repeat="user in users">
					  		<td> <a href="" ng-click="accessUser(user)"> {{user.id}} </a></td>
	    					<td>{{user.username}}</td>
    	            	  </tr>
						</tbody>
        			</table>
    			</div>
    		</div>
    		<div id="user-edit" class="container" ng-show="showUserEdition()">
    			<div class="two-thirds column" >
	       			<h3 ng-show="showNewUserCreation()"> Create New User </h3>
					<h3 ng-hide="showNewUserCreation()">Edit User </h3>
			
					<form class="simple-form" novalidate>
						<input id="id" name="id"  type="hidden" ng-model="editingUser.id"/>			
						<p> User Name : <br/>
							<input id="username" type="text" class="form-control" placeholder="Username"
							       ng-model="editingUser.username"/>
						</p>
						<p> Password : <br/>
							<input id="password" type="password" class="form-control" placeholder="Password"
							       ng-model="editingUser.password"/>
						</p>
						<p> Email : <br/>
							<input id="email" type="text" class="form-control" placeholder="Email"
							       ng-model="editingUser.emailAddress"/>
						</p>
						<p> First name : <br/>
							<input id="firstname" type="text" class="form-control" placeholder="First name"
							       ng-model="editingUser.firstName"/>
						</p>
						<p> Last name : <br/>
							<input id="lastname" type="text" class="form-control" placeholder="Last name"
					    		   ng-model="editingUser.lastName"/>
						</p>
					</form>
					<button id="submit" type="button" ng-click="saveUser()"> Save </button>
				</div>
				<p ng-if="editingUser.id != null">
					<button id="delete" ng-click="deleteUser()">Delete this user</button>
				</p>
			</div>
		</div>			

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="js/helloWorld.js"></script>
	</body>
</html>