<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
	<title th:text="#{userEdit.title}"> Edit User </title>

	<body>

		<div class="container">

		    <div class="two-thirds column">
        		<h3 th:text="{userEdit.title}">Edit</h3>

				<form method="POST" action="user.html" th:action="@{/user/save}" th:object="${user}">
					<input th:field="${user.id}"/>
				
					<p th:text="${user.username}">
						User Name :
					</p>
					<p th:text="${user.password}">
						Password :
					</p>
					<p th:text="${user.emailAddress}">
						Email :
					</p>
					<p th:text="${user.firstName}">
						First name :
					</p>
					<p th:text="${user.lastName}">
						Last name :
					</p>
					
					<input type="submit" value="Save" th:value="#{userEdit.submit}" />
				</form>
	
				<p th:if="${user.id}">
					<a href="user.html" th:href="@{/user/delete/${user.id}}">
						Delete this user
					</a>
				</p>
			</div>
		</div>
	</body>
</html>