<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
		<title th:text="#{userEdit.title}">Edit User</title>
    </head> 

	<body>

		<div class="container">

		    <div class="two-thirds column">
        		<h3 th:text="#{userEdit.title}">Edit</h3>

				<form method="POST" action="user.html" th:action="@{/user/save}" th:object="${user}">
					<input id="id" name="id" value="" th:value="*{id}" type="hidden"/>
				
					<p th:text="#{userEdit.username}">
						User Name :
					</p>
					<input id="username" value="" th:value="*{username}"/>
					<p th:text="#{userEdit.password}">
						Password :
					</p>
					<input id="password" type="password" value="" th:value="*{password}"/>
					<p th:text="#{userEdit.email}">
						Email :
					</p>
					<input id="email" value="" th:value="*{emailAddress}"/>
					<p th:text="#{userEdit.firstName}">
						First name :
					</p>
					<input id="firstname" value="" th:value="*{firstName}"/>
					<p th:text="#{userEdit.lastName}">
						Last name :
					</p>
					<input id="lastname" value="" th:value="*{lastName}"/>
					
					<input id="submit" type="submit" value="Save" th:value="#{userEdit.submit}" />

					<p th:if="${user.id}">
						<a href="index.html" th:href="@{/user/delete/${user.id}}"
							th:text="#{userEdit.delete}">
							Delete this user
						</a>
					</p>
				</form>
			
	
			</div>
		</div>
	</body>
</html>